.f-l {
    float: left;
}

.disn {
    display: none;
}

.dis-b {
    display: block;
}

.dis-f {
    display: flex;
}

.dis-ib {
    display: inline-block;
}

.disif {
    display: inline-flex;
}

.flex1 {
    flex: 1;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.vertical-middle {
    vertical-align: middle;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.abs-align-middle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.abs-center-block {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.abs-center-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.z-9999 {
    z-index: 9999;
}

.z-n9998 {
    z-index: -9998;
}

.z-n9999 {
    z-index: -9999;
}

.t-n2 {
    top: -2rem;
}

.t-0 {
    top: 0;
}

.t-25 {
    top: 2.5rem
}

.t40 {
    top: 4rem;
}

.t45 {
    top: 4.5rem;
}

.t64 {
    top: 6.4rem;
}

.t90 {
    top: 9rem;
}

.t-185 {
    top: 18.5rem;
}

.r0 {
    right: 0;
}

.r-10 {
    right: 1rem;
}

.b-0 {
    bottom: 0;
}

.b-10 {
    bottom: 1rem;
}

.b-90 {
    bottom: 9rem;
}

.b90 {
    bottom: 9rem;
}

.l35 {
    left: 3.5rem;
}

.w-50p {
    width: 50%;
}

.w-100p {
    width: 100%;
}

.w-05 {
    width: 0.5rem;
}

.w-15 {
    width: 1.5rem;
}

.w-20 {
    width: 2rem;
}

.w-30 {
    width: 3rem;
}

.w-40 {
    width: 4rem;
}

.w-90 {
    width: 9rem;
}

.w104 {
    width: 10.4rem;
}

.mxw665 {
    max-width: 66.5rem;
}

.h100p {
    height: 100%;
}

.h-05 {
    height: 0.5rem;
}

.h-20 {
    height: 2rem;
}

.h-40 {
    height: 4rem;
}

.h-95 {
    height: 9.5rem;
}

.p0 {
    padding: 0;
}

.pt-05 {
    padding-top: 0.5rem;
}

.pt-10 {
    padding-top: 1rem;
}

.pt-15 {
    padding-top: 1.5rem;
}

.pt-20 {
    padding-top: 2rem;
}

.pt-30 {
    padding-top: 3rem;
}

.pt-40 {
    padding-top: 4rem;
}

.pt-45 {
    padding-top: 4.5rem;
}

.pr-10 {
    padding-right: 1rem;
}

.pr-15 {
    padding-right: 1.5rem;
}

.pr-25 {
    padding-right: 2.5rem;
}

.pr-50 {
    padding-right: 5rem;
}

.pb0 {
    padding-bottom: 0;
}

.pb-10 {
    padding-bottom: 1rem;
}

.pb-15 {
    padding-bottom: 1.5rem;
}

.pb-20 {
    padding-bottom: 2rem;
}

.pb-30 {
    padding-bottom: 3rem;
}

.pl-05 {
    padding-left: 0.5rem;
}

.pl-10 {
    padding-left: 1rem;
}

.pl-15 {
    padding-left: 1.5rem;
}

.pl-25 {
    padding-left: 2.5rem;
}

.pl-50 {
    padding-left: 5rem;
}

.mt-05 {
    margin-top: 0.5rem;
}

.mt-10 {
    margin-top: 1rem;
}

.mt-15 {
    margin-top: 1.5rem;
}

.mt-20 {
    margin-top: 2rem;
}

.mt-30 {
    margin-top: 3rem;
}

.mt-35 {
    margin-top: 3.5rem;
}

.mr20 {
    margin-right: 2rem;
}

.mb-05 {
    margin-bottom: 0.5rem;
}

.mb-10 {
    margin-bottom: 1rem;
}

.mb-15 {
    margin-bottom: 1.5rem;
}

.mb-25 {
    margin-bottom: 2.5rem;
}

.mb-30 {
    margin-bottom: 3rem;
}

.ml-60 {
    margin-left: 6rem;
}

.bd-01 {
    border-width: 0.1rem;
    border-style: solid;
    border-color: transparent;
}

.bd-03 {
    border-width: 0.3rem;
    border-style: solid;
    border-color: transparent;
}

.bdt-01 {
    border-top-width: 0.1rem;
    border-top-style: solid;
    border-top-color: transparent;
}

.bdb-01 {
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
}

.bdr-01 {
    border-right-width: 0.1rem;
    border-right-style: solid;
    border-right-color: transparent;
}

.bdc-white {
    border-color: #fff;
}

.bds-50p {
    border-radius: 50%;
}

.brs05 {
    border-radius: 0.5rem;
}

.ft-12 {
    font-size: 1.2rem;
}

.ft-13 {
    font-size: 1.3rem;
}

.ft-14 {
    font-size: 1.4rem;
}

.ft-16 {
    font-size: 1.6rem;
}

.ft-17 {
    font-size: 1.7rem;
}

.ft-18 {
    font-size: 1.8rem;
}

.ft-20 {
    font-size: 2rem;
}

.ft-24 {
    font-size: 2.4rem;
}

.fw500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.lh-14 {
    line-height: 1.4rem;
}

.lh-20 {
    line-height: 2rem;
}

.lh-30 {
    line-height: 3rem;
}

.lh-40 {
    line-height: 4rem;
}

.lh-45 {
    line-height: 4.5rem;
}

.lh-50 {
    line-height: 5rem;
}

.lh53 {
    line-height: 5.3rem;
}

.lh-58 {
    line-height: 5.8rem;
}

.lh-66 {
    line-height: 6.6rem;
}

.ls-01 {
    letter-spacing: 0.1rem;
}

.ls-02 {
    letter-spacing: 0.2rem;
}

.ti01 {
    text-indent: 0.1rem;
}

h3 {
    font-size: 2.4rem;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-justify::after {
    content: "";
    display: inline-block;
    width: 100%;
}

.center-block {
    margin-left: auto;
    margin-right: auto;
}

.of-h {
    overflow: hidden;
}

.of-a {
    overflow: auto;
}

.op0 {
    opacity: 0;
}

.op08 {
    opacity: 0.8;
}

.rotate180 {
    -webkit-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
            transform:rotate(180deg);
}

.bgc-white {
    background-color: #fff;
}

.bgctrans {
    background-color: transparent;
}

.c-white {
    color: #fff;
}
