html {
    font: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.case {
    overflow: hidden;
    padding: 1%
}

.box {
    width: 31.33333333%;
    padding-bottom: 31.33333333%;
    margin: 1%;
    border-radius: 10%;
    float: left;
    background-color: #ffa500;
}

.btn-group {
    padding: 0 1rem;
    margin-top: 2rem;
}

.T-button,
.B-button {
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
    border: 0.1rem solid #ffa500;
    outline: none;
    font-size: 1.6rem;
    line-height: 3rem;
    background-color: transparent;
    color: #ffa500;
}

button:hover,
button:active,
button:focus {
    background-color: #ffa500;
    color: #fff;
}