@charset "UTF-8";
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: HiraginoSansGB,"Microsoft YaHei",Arial;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, form {
  margin: 0;
}

ul, ol {
  padding-left: 0;
  list-style: none;
}

button {
  border: 0;
  outline: none;
}

a {
  display: inline-block;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
}

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

@media (max-width: 770px) {
  .container {
    padding: 0 4rem;
  }
}

@media (min-width: 770px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 1000px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1250px) {
  .container {
    width: 1200px;
  }
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

@media (min-width: 770px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: 1000px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}

@media (max-width: 770px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    width: 100%;
  }
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.dis-b {
  display: block;
}

.dis-f {
  display: flex;
}

.dis-ib {
  display: inline-block;
}

.flex1 {
  flex: 1;
}

.flex-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.t-01 {
  top: 0.1rem;
}

.t-02 {
  top: 0.2rem;
}

.r-n12 {
  right: -1.2rem;
}

.w-100p {
  width: 100%;
}

.w-10p {
  width: 10%;
}

.w-40p {
  width: 40%;
}

.w-50p {
  width: 50%;
}

.w-10 {
  width: 1rem;
}

.w-152 {
  width: 15.2rem;
}

.w-190 {
  width: 19rem;
}

.w-100 {
  width: 10rem;
}

.w-212 {
  width: 21.2rem;
}

.w-279 {
  width: 27.9rem;
}

.w-305 {
  width: 30.5rem;
}

.w-382 {
  width: 38.2rem;
}

.h-0 {
  height: 0;
}

.h-10 {
  height: 1rem;
}

.h-24 {
  height: 2.4rem;
}

.h-35 {
  height: 3.5rem;
}

.h-40 {
  height: 4rem;
}

.h-105 {
  height: 10.5rem;
}

.h-175 {
  height: 17.5rem;
}

.h-264 {
  height: 26.4rem;
}

.p-0 {
  padding: 0;
}

.pt-20 {
  padding-top: 2rem;
}

.pt-30 {
  padding-top: 3rem;
}

.pt-35 {
  padding-top: 3.5rem;
}

.pt-40 {
  padding-top: 4rem;
}

.pt-45 {
  padding-top: 4.5rem;
}

.pt-100 {
  padding-top: 10rem;
}

.pt-120 {
  padding-top: 12rem;
}

.pt-150 {
  padding-top: 15rem;
}

.pr-10 {
  padding-right: 1rem;
}

.pr-12 {
  padding-right: 1.2rem;
}

.pr-35 {
  padding-right: 3.5rem;
}

.pr-75 {
  padding-right: 7.5rem;
}

.pb-10 {
  padding-bottom: 1rem;
}

.pb-20 {
  padding-bottom: 2rem;
}

.pb-30 {
  padding-bottom: 3rem;
}

.pb-50 {
  padding-bottom: 5rem;
}

.pb-40 {
  padding-bottom: 4rem;
}

.pb-70 {
  padding-bottom: 7rem;
}

.pb-90 {
  padding-bottom: 9rem;
}

.pb-150 {
  padding-bottom: 15rem;
}

.pl-10 {
  padding-left: 1rem;
}

.pl-12 {
  padding-left: 1.2rem;
}

.pl-20 {
  padding-left: 2rem;
}

.pl-65 {
  padding-left: 6.5rem;
}

.mt-n50 {
  margin-top: -5rem;
}

.mt05 {
  margin-top: 0.5rem;
}

.mt-07 {
  margin-top: 0.7rem;
}

.mt-14 {
  margin-top: 1.4rem;
}

.mt-40 {
  margin-top: 4rem;
}

.mt-164 {
  margin-top: 16.4rem;
}

.mr-n10 {
  margin-right: -1rem;
}

.mr-10 {
  margin-right: 1rem;
}

.mr-17 {
  margin-right: -1.7rem;
}

.mr-12 {
  margin-right: 1.2rem;
}

.mr-35 {
  margin-right: 3.5rem;
}

.mb-10 {
  margin-bottom: 1rem;
}

.mb-14 {
  margin-bottom: 1.4rem;
}

.mb-30 {
  margin-bottom: 3rem;
}

.mb-48 {
  margin-bottom: 4.8rem;
}

.mb-50 {
  margin-bottom: 5rem;
}

.mb-70 {
  margin-bottom: 7rem;
}

.mb-90 {
  margin-bottom: 9rem;
}

.ml-17 {
  margin-left: -1.7rem;
}

.ml-10 {
  margin-left: 1rem;
}

.ml-12 {
  margin-left: 1.2rem;
}

.bd-0 {
  border-width: 0;
}

.br-0 {
  border-right: 0;
}

.bl-0 {
  border-left: 0;
}

.bd-01 {
  border-width: 0.1rem;
  border-style: solid;
}

.bdr-01 {
  border-right-width: 0.1rem;
  border-right-style: solid;
}

.bdb-01 {
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
}

.bdc-tr {
  border-color: transparent;
}

.brs-50p {
  border-radius: 50%;
}

.out-n {
  outline: none;
}

.ft-12 {
  font-size: 1.2rem;
}

.ft-14 {
  font-size: 1.4rem;
}

.ft-16 {
  font-size: 1.6rem;
}

.lh-20 {
  line-height: 2rem;
}

.lh-25 {
  line-height: 2.5rem;
}

.lh-26 {
  line-height: 2.6rem;
}

.lh-30 {
  line-height: 3rem;
}

.lh-40 {
  line-height: 4rem;
}

.lh-50 {
  line-height: 5rem;
}

.lh-60 {
  line-height: 6rem;
}

.lh-80 {
  line-height: 8rem;
}

.ti01 {
  text-indent: 0.1rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-justify::after {
  content: "";
  display: inline-block;
  width: 100%;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.of-h {
  overflow: hidden;
}

.rotate180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.bgc-white {
  background-color: #fff;
}

.c-white {
  color: #fff;
}

.c-black {
  color: #000;
}

.list-disc {
  list-style: disc;
}

.w-84 {
  width: 8.4rem;
}

.w-305 {
  width: 30.5rem;
}

.pt-18 {
  padding-top: 1.8rem;
}

.pr-64 {
  padding-right: 6.4rem;
}

.pb-32 {
  padding-bottom: 3.2rem;
}

.pb-230 {
  padding-bottom: 23rem;
}

.pl-83 {
  padding-left: 8.3rem;
}

.ml-330 {
  margin-left: 33rem;
}

.mb-68 {
  margin-bottom: 6.8rem;
}

.bgc-gr {
  background-color: #29b078;
}

.bgc-lo {
  background-color: #f9a372;
}

.bgc-dw {
  background-color: #fafafa;
}

.c-gr {
  color: #29b078;
}

.c-do {
  color: #ff640c;
}

.c-99 {
  color: #999;
}

.c-f0 {
  color: #f01400;
}

.c-26 {
  color: #26a26f;
}

.bgc-fa {
  background-color: #fafafa;
}

.bdcb-d0 {
  border-bottom-color: #d0d6d9;
}

.bdc-g {
  border-color: #e6e6e6;
}

.bdc-do {
  border-color: #ff640c;
}

.bdc-ef {
  border-color: #edf1f2;
}

.bs-01-99 {
  box-shadow: 0.1px 0.1px 1px #999;
}

.wrap-break {
  word-wrap: break-word;
  word-break: break-all;
}

header, main, footer {
  width: 100%;
  min-width: 55rem;
}

/*导航栏开始*/
.navbar {
  background-color: #29b078;
}

@media (max-width: 770px) {
  .navbar-brand {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .navbar-brand > img {
    width: 70%;
  }
}

.navbar-toggle {
  display: none;
  padding: 0.5rem;
  border: 0.1rem solid #fff;
  border-radius: 0.2rem;
}

.navbar-toggle i {
  color: #fff;
}

.hidden-input {
  display: none;
}

.navbar-nav {
  margin-right: -2.5rem;
}

.navbar-nav li {
  float: left;
}

.navbar-nav li a {
  width: 10rem;
  font-size: 1.6rem;
  line-height: 4.8rem;
  text-align: center;
  border-top: 0.4rem solid transparent;
  border-bottom: 0.4rem solid transparent;
  color: #fff;
}

.navbar-nav li a:hover, .navbar-nav li a:focus, .navbar-nav li a:active {
  border-bottom-color: #fff;
}

.navbar-nav .active a {
  border-bottom: 0.4rem solid #fff;
}

@media (min-width: 770px) {
  .navbar-nav > li > a {
    line-height: 9.2rem;
  }
}

@media (max-width: 770px) {
  .navbar > .container > div {
    height: 5.5rem;
  }
  .navbar-toggle {
    display: block;
  }
  .hidden-input:checked + .navbar-nav {
    display: block;
  }
  .navbar-nav {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    margin-right: 0;
    z-index: 99;
  }
  .navbar-nav li {
    margin: 0 -2.5rem;
    float: none;
    background-color: #29b078;
  }
  .navbar-nav li a {
    display: block;
    margin: 0 auto;
  }
}

/*导航栏结束*/
/*面包屑导航开始*/
.breadcrumb {
  display: block;
  overflow: hidden;
  font-size: 1.6rem;
}

.breadcrumb li {
  float: left;
}

.breadcrumb li a {
  line-height: 8rem;
  color: #333;
}

.breadcrumb .active a {
  color: #29b078;
}

.breadcrumb li + li::before {
  content: ">";
  color: #333;
}

/*面包屑导航结束*/
/*页面内跳转按钮开始*/
.turn-i {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 0.1rem solid #edf1f2;
}

.turn-i-title {
  font-size: 1.4rem;
  white-space: nowrap;
  color: #999;
}

.turn-i-body a {
  margin: 0 1.2rem;
  padding: 0.4rem;
  font-size: 1.4rem;
  background-color: transparent;
  color: #000;
}

.turn-i-body a:hover {
  background-color: #29b078;
  color: #fff;
}

.turn-i-body .active {
  background-color: #29b078;
  color: #fff;
}

.turn-i-body .disabled {
  color: #999;
}

.turn-i-body .disabled:hover {
  background-color: transparent;
  color: #999;
}

@media (max-width: 610px) {
  .turn-i-body a {
    width: 6.4rem;
    height: 2.8rem;
    text-align: justify;
    overflow: hidden;
  }
  .turn-i-body a::after {
    content: "";
    display: inline-block;
    width: 100%;
  }
}

/*页面内跳转按钮结束*/
.well-heading {
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  border-bottom-color: #d0d6d9;
}

.well-body {
  margin: 0 -1.3rem;
}

/*个人卡片开始*/
.card-group {
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .card-group {
    width: 81.6rem;
  }
}

@media (min-width: 1250px) {
  .card-group {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .card-group {
    width: 40.6rem;
  }
}

.card {
  position: relative;
  border-radius: 0.3rem;
}

.card-title {
  text-align: center;
  margin-bottom: 3rem;
}

.card-text {
  width: 21.2rem;
  margin: 0 auto 1rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #999;
}

.card-table {
  border-color: transparent;
  border-collapse: collapse;
  table-layout: fixed;
}

.card-table td {
  padding-top: 0;
  padding-bottom: 0;
  border-color: #eff1f2;
}

.card-table td tr {
  border-color: #eff1f2;
}

.card-heading {
  width: 38rem;
  padding: 2rem 1rem 1.5rem;
  border-bottom: 0.1rem solid #edf1f2;
  overflow: hidden;
}

.none {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  padding: 4rem;
  font-size: 1.6rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  z-index: 99;
}

.card:hover > .none {
  display: block;
}

/*个人名片结束*/
/*如何学习开始*/
.number {
  flex-shrink: 0;
  width: 7rem;
  height: 7rem;
  margin-left: auto;
  margin-right: 1.8rem;
  margin-bottom: 0;
  border-radius: 50%;
  box-shadow: 0.1rem 0.1rem 0.5rem #e9e9e9;
  font-size: 1.8rem;
  line-height: 7rem;
  background-color: #fff;
  color: #29b078;
}

.task {
  width: 15rem;
  margin-right: auto;
  margin-bottom: 0;
  font-size: 1.4rem;
  color: #999;
}

@media (min-width: 1000px) {
  .second-row > .panel > .panel-body {
    margin-bottom: 9.6rem;
  }
}

.arrow {
  position: absolute;
  right: -1.2rem;
}

@media (max-width: 770px) {
  .number {
    margin-left: 1rem;
  }
  .task {
    width: inherit;
  }
  .arrow {
    visibility: hidden;
  }
}

.ou {
  visibility: hidden;
}

@media (min-width: 1250px) {
  .ou {
    visibility: visible;
  }
}

/*如何学习结束*/
/*学员展示轮播图开始*/
.set {
  width: 500%;
  animation: secondmovie 20s linear -1s infinite forwards;
}

@media (max-width: 1000px) {
  .set {
    width: 1000%;
    animation: Tmovie 40s linear -1s infinite forwards;
  }
}

@media (max-width: 770px) {
  .set {
    width: 2000%;
  }
}

@keyframes secondmovie {
  0% {
    margin-left: 0;
  }
  5% {
    margin-left: 0;
  }
  10% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -50%;
  }
  25% {
    margin-left: -100%;
  }
  30% {
    margin-left: -100%;
  }
  35% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
  45% {
    margin-left: -150%;
  }
  50% {
    margin-left: -200%;
  }
  55% {
    margin-left: -200%;
  }
  60% {
    margin-left: -200%;
  }
  65% {
    margin-left: -200%;
  }
  70% {
    margin-left: -250%;
  }
  75% {
    margin-left: -300%;
  }
  80% {
    margin-left: -300%;
  }
  85% {
    margin-left: -300%;
  }
  90% {
    margin-left: -300%;
  }
  95% {
    margin-left: -350%;
  }
  100% {
    margin-left: -400%;
  }
}

@keyframes Tmovie {
  0% {
    margin-left: 0;
  }
  5% {
    margin-left: 0;
  }
  7.5% {
    margin-left: 0;
  }
  10% {
    margin-left: -50%;
  }
  12.5% {
    margin-left: -100%;
  }
  15% {
    margin-left: -100%;
  }
  20% {
    margin-left: -100%;
  }
  22.5% {
    margin-left: -150%;
  }
  25% {
    margin-left: -200%;
  }
  30% {
    margin-left: -200%;
  }
  32.5% {
    margin-left: -200%;
  }
  35% {
    margin-left: -250%;
  }
  37.5% {
    margin-left: -300%;
  }
  40% {
    margin-left: -300%;
  }
  45% {
    margin-left: -300%;
  }
  47.5% {
    margin-left: -350%;
  }
  50% {
    margin-left: -400%;
  }
  55% {
    margin-left: -400%;
  }
  57.5% {
    margin-left: -400%;
  }
  60% {
    margin-left: -450%;
  }
  62.5% {
    margin-left: -500%;
  }
  65% {
    margin-left: -500%;
  }
  70% {
    margin-left: -500%;
  }
  72.5% {
    margin-left: -550%;
  }
  75% {
    margin-left: -600%;
  }
  80% {
    margin-left: -600%;
  }
  82.5% {
    margin-left: -650%;
  }
  85% {
    margin-left: -700%;
  }
  90% {
    margin-left: -700%;
  }
  92.5% {
    margin-left: -750%;
  }
  95% {
    margin-left: -800%;
  }
  100% {
    margin-left: -800%;
  }
}

@media (max-width: 1250px) {
  .media-panel-body {
    width: 89.85rem;
    height: 39.3rem;
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .media-panel-body {
    width: 59.9rem;
    height: 39.3rem;
    margin: 0 auto;
  }
}

@media (max-width: 770px) {
  .media-panel-body {
    width: 29.95rem;
    height: 39.3rem;
    margin: 0 auto;
  }
}

.page {
  padding: 0 1.5rem;
  float: left;
  width: 29.95rem;
}

.thumbnail {
  margin-bottom: 2.5rem;
  padding: 1.9rem 3.2rem;
  border-radius: 0.2rem;
  background-color: #fff;
  box-shadow: 0.2rem 0.2rem 0.2rem #eeeded;
}

.Spagination {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  margin: 0;
}

.Spagination li {
  float: left;
}

.Spagination li a {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0.1px 0.1px 1px #999;
}

.Spagination li:first-child > a {
  animation: FAA 20s linear -1s infinite;
}

.Spagination li:nth-child(2) > a {
  animation: SAA 20s linear -1s infinite;
}

.Spagination li:nth-child(3) > a {
  animation: TAA 20s linear -1s infinite;
}

.Spagination li:nth-child(4) > a {
  animation: FOAA 20s linear -1s infinite;
}

.Spagination .active a {
  background-color: #29b078;
}

@keyframes FAA {
  0% {
    background-color: #29b078;
  }
  15% {
    background-color: #29b078;
  }
  20% {
    background-color: transparent;
  }
  95% {
    background-color: transparent;
  }
  100% {
    background-color: #29b078;
  }
}

@keyframes SAA {
  0% {
    background-color: transparent;
  }
  20% {
    background-color: transparent;
  }
  25% {
    background-color: #29b078;
  }
  40% {
    background-color: #29b078;
  }
  45% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes TAA {
  0% {
    background-color: transparent;
  }
  45% {
    background-color: transparent;
  }
  50% {
    background-color: #29b078;
  }
  65% {
    background-color: #29b078;
  }
  70% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes FOAA {
  0% {
    background-color: transparent;
  }
  70% {
    background-color: transparent;
  }
  75% {
    background-color: #29b078;
  }
  90% {
    background-color: #29b078;
  }
  95% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}

.h1250, .h1000, .h770 {
  display: none;
}

@media (max-width: 1250px) {
  .h1250 {
    display: inline-block;
  }
}

@media (max-width: 1000px) {
  .h1000 {
    display: inline-block;
  }
}

@media (max-width: 770px) {
  .Spagination {
    width: 38.4rem;
  }
  .h770 {
    display: inline-block;
  }
}

/*学员展示轮播图结束*/
/*战略合作伙伴开始*/
.btn-group-lg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  box-shadow: 0.1rem 0.1rem 0.5rem #999;
}

.btn-lg {
  flex: none !important;
  width: 50%;
  height: 17.6rem;
  margin: 0 -.3rem;
  border: 0;
  border-radius: 0 !important;
  outline: none;
  background-color: #fff;
}

@media (min-width: 1000px) {
  .btn-lg {
    width: 20%;
    margin: 0;
  }
  .btn-group .btn + .btn {
    margin-left: 0;
  }
}

@media (max-width: 540px) {
  .btn-lg {
    width: 100%;
  }
}

.btn-lg:hover,
.btn-lg:focus,
.btn-lg:active {
  position: relative;
  box-shadow: 0 0 0.5rem #999;
  z-index: 9999;
}

/*战略合作伙伴结束*/
/*友情链接开始*/
@media (max-width: 1000px) {
  .media-ul {
    width: 100%;
  }
}

.media-ul > li {
  width: 6.4rem;
}

.media-ul > li a {
  border-bottom: 0.1rem solid transparent;
  color: #999;
}

.media-ul > li a:hover, .media-ul > li a:active {
  color: #999;
  border-bottom-color: #26a26f;
}

/*友情链接结束*/
/*轮播图开始*/
.homepage {
  width: 100%;
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-left {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(0, -50%);
}

.carousel-right {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translate(0, -50%);
}

.carousel-set {
  animation: playMovie 10s linear infinite;
  width: 400%;
}

.carousel-content {
  float: left;
  width: 25%;
}

.carousel-content > img {
  width: 100%;
  height: 100%;
}

@keyframes playMovie {
  0% {
    margin-left: 0;
  }
  10% {
    margin-left: 0;
  }
  20% {
    margin-left: -50%;
  }
  30% {
    margin-left: -100%;
  }
  40% {
    margin-left: -100%;
  }
  50% {
    margin-left: -150%;
  }
  60% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  80% {
    margin-left: -250%;
  }
  90% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}

.Fpagination {
  position: absolute;
  bottom: 1.1rem;
  left: 50%;
  transform: translate(-50%);
  margin: 0;
}

.Fpagination li {
  float: left;
}

.Fpagination li a {
  width: 1.4rem;
  height: 1.4rem;
  margin: 0 0.5rem;
  border: 0.1rem solid #fff;
  border-radius: 50%;
}

.Fpagination li:first-child > a {
  animation: FA 10s linear infinite;
}

.Fpagination li:nth-child(2) > a {
  animation: SA 10s linear infinite;
}

.Fpagination li:last-child > a {
  animation: TA 10s linear infinite;
}

@keyframes FA {
  0% {
    background-color: #fff;
  }
  10% {
    background-color: #fff;
  }
  30% {
    background-color: transparent;
  }
  70% {
    background-color: transparent;
  }
  90% {
    background-color: #fff;
  }
  100% {
    background-color: #fff;
  }
}

@keyframes SA {
  0% {
    background-color: transparent;
  }
  10% {
    background-color: transparent;
  }
  30% {
    background-color: #fff;
  }
  40% {
    background-color: #fff;
  }
  60% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes TA {
  0% {
    background-color: transparent;
  }
  40% {
    background-color: transparent;
  }
  60% {
    background-color: #fff;
  }
  70% {
    background-color: #fff;
  }
  90% {
    background-color: transparent;
  }
  100% {
    background-color: transparent;
  }
}

/*轮播图结束*/
.border {
  display: inline-block;
  position: absolute;
  top: 0;
  right: -3rem;
  width: 0.1rem;
  height: 26.4rem;
  border: 0 !important;
  visibility: hidden;
  background-color: #dedede;
  background-image: repeating-linear-gradient(0deg, #dedede, #dedede 1.3rem, #fff 1.3rem, #fff 1.8rem);
}

.list-group {
  display: block;
  width: 18rem;
  margin: 5rem auto 0;
}

.list-group > .list-group-item {
  font-size: 1.8rem;
  line-height: 3.4rem;
  color: #999;
}

@media (min-width: 770px) {
  .border {
    visibility: visible;
  }
  .first-row > .col-lg-3 > .card {
    height: 26.4rem;
  }
}

@media (max-width: 770px) {
  .first-row {
    margin-top: 7.4rem;
  }
  .list-group {
    margin: 6rem auto 2rem;
  }
}

.panel {
  border-width: 0.1rem;
  border-style: solid;
  border-radius: 0.5rem;
}

.panel-heading {
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
}

.media-left {
  float: left;
}

.media-body {
  width: 100%;
}

/*左侧导航栏*/
.name:hover > input[type=button],
.name:focus > input[type=button],
.name:active > input[type=button] {
  background-color: #f9a372;
}

.name > label > a:active,
.name > label > a:hover {
  color: #ff650e;
}

@media (max-width: 770px) {
  .panel-left {
    width: 100%;
  }
  .panel-right {
    margin-left: 0;
  }
}

@media (min-width: 1250px) {
  .media-body {
    display: table-cell;
  }
}

/*左侧导航栏结束*/
/*底栏开始*/
.btmbar {
  background-color: #29b078;
  border-top: 0.1rem solid #32c086;
  border-bottom: 0.1rem solid #32c086;
}

.btmbar p {
  font-size: 1.6rem;
  color: #fff;
}

.btmbar a {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid transparent;
  color: #fff;
}

.btmbar a:hover,
.btmbar a:focus,
.btmbar a:active {
  border-color: #fff;
}

@media (max-width: 770px) {
  .btmbar .col-sm-5:first-child > p:first-child {
    margin-bottom: 3rem;
  }
  .btmbar .col-sm-5:nth-child(2) {
    float: left;
  }
  .btmbar .col-sm-2:last-child {
    float: right;
  }
}

.Lbtmbar {
  background-color: #29b078;
  font-size: 1.2rem;
  line-height: 3rem;
  text-align: center;
  color: #fff;
}

/*底栏结束*/
